<footer>
    <div class="footer-content">
        <p>&copy; 2025 Your Team. All rights reserved.</p>
        <div class="social-links">
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">LinkedIn</a>
            <a href="#" target="_blank">WhatsApp</a>
        </div>
    </div>
</footer>