<header>
  <nav class="navbar">
    <div class="logo"><p><span class="brand">Progate </span> Developers <span class="brandActive"></span></p></div>

    <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#team">Portfolio</a></li>
      <li><a href="#contact-form">Contact</a></li>
      <% if (typeof blog !== 'undefined') { %>
        <li><a href="/blog">Blog</a></li>
      <% } %>
    </ul>
  </nav>
</header>
