<section class="services" id="services">
    <h2>Our Services</h2>
    <div class="services-grid">
        <!-- everything that is services will be generated here on npm start rendering chnai chani -->
    </div>
</section>